body {
  margin: 0;
}

.first-block {
  /* background-image: url("mono.png"); */
  /* height: 100%; */
  /* background-repeat: no-repeat; */
  /* text-align: center; */
}

.cover {
  width: 100%;
  height: 550px;
  object-fit: cover;
  z-index: -1;
}

.title {
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

footer {
  background-color: black;
  color: white;
  text-align: end;
  padding: 20px 30px;
  /* margin: 0; */
  /* width: 100%; */
}

.width-100 {
  width: 100%;
}

.logofooter {
  position: absolute;
}
.logo {
  width: 100px;
  height: 100px;
  position: absolute;
  margin: 0 auto;

}

.familapic {
  width: 600px;
}

.center-content {
  text-align: center;
}

.somos-familia {
  width: 90%; 
  margin: 25px auto 50px auto;
}

.footer-container {
}

.top-container {
  /* position: absolute */
}

/* .mainimg {
  text-align: center;
  background-color: brown;
} */