body {
  margin: 0;
}

.title {
  color: red;
}

footer {
  background-color: black;
  color: white;
  text-align: end;
  padding: 20px 30px;
  margin: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.logofooter {
  position: absolute;
}
.footimg {
  width: 150px;
  height: 150px;
}

.familapic {
  width: 600px;
}

.center-content {
  text-align: center;
}

.somos-familia {
  width: 800px;
}

/* .mainimg {
  text-align: center;
  background-color: brown;
} */