body {
  margin: 0;
}

.content {
  background-image: url("pic-logo-fb.jpg");
  height: 500px;
}

.title {
  /* color: red; */
}

footer {
  background-color: black;
  color: white;
  text-align: end;
  padding: 20px 30px;
  /* margin: 0; */
  /* width: 100%; */
}

.width-100 {
  width: 100%;
}

.logofooter {
  position: absolute;
}
.footimg {
  width: 150px;
  height: 150px;
}

.familapic {
  width: 600px;
}

.center-content {
  text-align: center;
}

.somos-familia {
  width: 90%; 
  margin: 25px auto 50px auto;
}

.footer-container {
}

.top-container {
  /* position: absolute */
}

/* .mainimg {
  text-align: center;
  background-color: brown;
} */